<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<util:map id="codeMap" map-class="java.util.HashMap">
		<entry key="100" value="用户名或密码错误" />
		<entry key="101" value="非法操作" />
		<entry key="102" value="非法的APPID" />
	<!-- 全局返回码 -->
		<entry key="200" value="请求成功" />
		<entry key="201" value="余额不足,操作失败" />
		<entry key="300" value="签名失败" />
		<entry key="400" value="参数不能为空" />
		<entry key="500" value="请求失败" />
		<entry key="90001" value="参数不能为空" />
		<entry key="90002" value="非法参数,查无数据" />
	<!-- 摇停车 -->
		<entry key="41001" value="该位置不在摇停车区域内" /> 
		
	</util:map>


	<util:map id="commonMap" map-class="java.util.HashMap">
		<entry key="access.token.url" value="${access.token.url}" />
		<entry key="memcache.url" value="${memcache.url}" />
	</util:map>
	
</beans>        